.checkbox {
  display: inline-block;
  border: 1px solid #aaa;
  border-radius: 0.2em;
  height: 1em;
  width: 1em;
  position: relative;
  cursor: pointer;
}

.checkbox[data-checked='1']::before {
  content: '';
  display: inline-block;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #0075ff;
  width: 0.7em;
  height: 0.7em;
}

.checkbox[data-checked='2'] {
  background-color: #0075ff;
}

.checkbox[data-checked='2']::before {
  content: '';
  display: inline-block;
  position: absolute;
  top: 45%;
  left: 50%;
  transform: translate(-50%, -50%) rotate(45deg);
  border: 0.15em solid #fff;
  border-left: 0;
  border-top: 0;
  width: 0.3em;
  height: 0.6em;
}

.checkbox[data-disabled='true'] {
  cursor: not-allowed;
  background-color: #f0f0f0;
  border-color: #ccc;
}

.checkbox[data-disabled='true'][data-checked='1']::before {
  background-color: #ccc;
}

.checkbox[data-disabled='true'][data-checked='2'] {
  background-color: #ccc;
}
