.tree-node {
  display: flex;
  align-items: baseline;
}

/* 展开按钮 */
.tree-node-expand,
.tree-node-expand-placeholer {
  width: 25px;
  height: 25px;
  line-height: 25px;
  text-align: center;
  user-select: none;
  flex-shrink: 0;
}
.tree-node-expand {
  cursor: pointer;
}

.tree-node-expand__icon {
  font-size: 10px;
}

.tree-node-expand:not([data-expanded='true']) .tree-node-expand__icon {
  transform: rotate(-90deg);
}

/* 缩进 */
.tree-node-indent {
  align-self: stretch;
  white-space: nowrap;
  line-height: 1.5;
  user-select: none;
}

.tree-node-indent__unit {
  display: inline-block;
  width: 25px;
}

/* 复选框 */
.tree-node-checkbox {
  font-size: 11px;
  width: 25px;
  height: 25px;
  text-align: center;
  line-height: 25px;
  flex-shrink: 0;
}

/* content */
.tree-node-content {
  flex-grow: 1;
  flex-shrink: 1;
  overflow: hidden;
  min-width: 4em;
}

.tree-node-name {
  line-height: 25px;
  white-space: normal;
  word-break: break-all;
}
